body{
    font-family: 'Poppins', sans-serif;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    height:80px;
}
.navbar-default .navbar-nav>li>a {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #448CEC;
    font-weight: 800;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 20px;

}
.navbar-default .navbar-brand {
    color: #448CEC;
    margin-top: 20px;
    font-weight: bolder;
}
.navbar-nav {
    margin: 7.5px -15px;
    background: #FFF;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #448CEC;
}
.navbar-default .navbar-toggle {
    border-color: #448CEC;
    background-color:#448CEC;
    margin-top: 25px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-brand img{
    width:25%;
    margin-top:-10px;
}
.cta-about{
    background: #434F6B 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
}
.cta-about-content{
    display: flex;
    justify-content: right;
}
.cta-about-content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    letter-spacing: 10px;
    color: #448CEC;
    opacity: 1;
}
.about-cta{
    padding-top: 70px;
    padding-bottom: 60px;
}
.about-cta-header h2{
    font: normal normal 200 50px/50px Montserrat;
    letter-spacing: 0px;
    color: #448CEC;
    opacity: 1;
}

.about-content-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content-details{
    width:50%;
    padding-right:200px;
    padding-left: 0px;
}
.about-box{
    width: 50%;
}
.box{
    width: 400px;
    height: 400px;
    background: #815959 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    margin-top:-250px;
    right: 90px;
}
.about-content{
    background: transparent linear-gradient(180deg, #4BD2EC 0%, #448CEC 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 70px;
    padding-bottom: 100px;
}
.about-content-details p{
    font: normal normal normal 14px/31px Century Gothic;
    letter-spacing: 0.9px;
    color: #FFFFFF;
    opacity: 1;
}
@media(max-width:768px){
    .box {
        width: 120px;
        height: 100px;
        background: #815959 0% 0% no-repeat padding-box;
        opacity: 1;
        position: absolute;
        margin-top: -250px;
        right: 10px;
    }
    .navbar-brand img {
        width: 25%;
        margin-top: -80px;
    }
    .img-responsive{
        margin-bottom: 70px;
    }
    .about-content-details {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .about-box {
        width: 0%;
    }
}

.footer{
    padding-top: 70px;
    padding-bottom: 70px;
}
.contacts-header h3{
    letter-spacing: 1px;
    color: #448CEC;
    text-transform: uppercase;
    opacity: 1;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.contacts-details p{
    letter-spacing: 1px;
    letter-spacing: 0.7px;
    color: #434F6B80;
    opacity: 1;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.contacts-extra h5{
    letter-spacing: 1px;
    color: #448CEC;
    text-transform: uppercase;
    opacity: 1;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 20px;
}
.footer h1{
    color: #448CEC;
    text-transform: uppercase;
    opacity: 1;
    font-size: 25px;
    font-weight: bold;
}
.footer-bottom{
    background: transparent linear-gradient(180deg, #4BD2EC 0%, #448CEC 100%) 0% 0% no-repeat padding-box;
    padding-bottom: 20px;
    padding-top: 20px;
}
.footer-bottom p{
    color:#fff;
    text-align: center;
}
.we-do-list{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-flow: wrap;
    flex-wrap: wrap;
    width:100%;
}
.we-do{
    padding-bottom: 70px;
}
.we-do h2{
    padding-bottom: 80px;
    text-align: center;
    font: normal normal 200 50px/100px Montserrat;
    letter-spacing: 0px;
    color: #448CEC;
    opacity: 1;
    margin-top:120px;
}
.we-do-card{
    width:30%;
    text-align: center;
    padding:10px;
}
.we-do-card h1{
    text-align: center;
    font-size:27px;
    letter-spacing: 2.5px;
    color: #717C96;
    /* font-family: 'Montserrat', sans-serif; */
    font: normal normal medium 12px/31px Montserrat;
    font-weight:400;
    opacity: 1;
    margin-bottom: 30px;
}
.we-do-card p{
    letter-spacing: 0.9px;
    color: #434F6B80;
    opacity: 1;
    font: normal normal normal 13px/31px Century Gothic;
}


.about-gold-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-box2{
    width: 50%;
}
.box2{
    width: 350px;
    height: 450px;
    background: #815959 0% 0% no-repeat padding-box;
    opacity: 1;
    position:relative;
}
.about-gold-sec{
    background: transparent linear-gradient(180deg, #4BD2EC 0%, #448CEC 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.about-gold-details{
    text-align: right;
    right:10px;
    width: 50%;
}
.about-gold-details h1{
    font: normal normal 200 50px/60px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 60px;
    margin-top: 80px;
}
.about-gold-details p{
    font: normal normal normal 14px/35px Century Gothic;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    opacity: 1;
    padding-left: 70px;
    margin-bottom: 40px;

}

.line-6{
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #448CEC;
    height: 440px;
    top: 100px;
    left:50%;
}

.line-7 {
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #ffffff;
    height:400px;
    top: 540px;
    left:50%;
}
.line-8 {
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #448CEC;
    height:120px;
    top: 930px;
    left:50%;
}
.line-8::after {
    position: absolute;
    display: block;
    content: '';
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0px;
    background-color: #448CEC;
    left: 50%;
    transform: translateX(-50%) rotate(315deg);
    top: 110px;
}
.line-9{
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #448CEC;
    height: 95px;
    top: 1780px;
    left:50%;
}
.line-10 {
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #fff;
    height:620px;
    top: 1875px;
    left:50%;
}
.line-10::after {
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius:0px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%) rotate(315deg);
    top: 270px;
}
@media(max-width:768px){
    .we-do-card {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
     .we-do-card h1 {
        text-align: center;
        font-size: 27px;
        letter-spacing: 2.5px;
        color: #4490ec;
        /* font-family: 'Montserrat', sans-serif; */
        font: normal normal medium 12px/31px Montserrat;
        font-weight: 400;
        opacity: 1;
        margin-bottom: 30px
    ;
    }
    .we-do-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
    }
    .we-do h2 {
        padding-bottom: 10px;
        text-align: center;
        font: normal normal 200 50px/100px Montserrat;
        letter-spacing: 0px;
        color: #448CEC;
        opacity: 1;
        margin-top: 70px;
    }
    .about-box2 {
        /* width: 50%; */
        display: none;
    }
    .about-gold-details {
        text-align:left;
        /* right: 10px; */
        width: 100%;
    }
    .about-gold-details p {
        font: normal normal normal 14px/35px Century Gothic;
        letter-spacing: 1.2px;
        color: #FFFFFF;
        opacity: 1;
        padding-left: 0px;
        margin-bottom: 40px;
    }
    .about-gold-details h1 {
        font: normal normal 600 35px/60px Montserrat;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 40px;
        margin-top: 50px;
    }
    .line-6{
        display: none;
    }
    .line-7{
        display: none;
    }
    .line-8{
        display: none;
    }
    .line-9{
        display: none;
    }
    .line-10{
        display: none;
    }
    .footer {
        padding-top: 70px;
        padding-bottom: 20px;
    }
   
}
