body{
    font-family: 'Poppins', sans-serif;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    height:80px;
}
.navbar-default .navbar-nav>li>a {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #448CEC;
    font-weight: 800;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 20px;

}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-nav {
    margin: 7.5px -15px;
    background: #FFF;
}
.navbar-default .navbar-brand {
    color: #448CEC;
    margin-top: 20px;
    font-weight: bolder;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #448CEC;
}
.navbar-default .navbar-toggle {
    border-color: #448CEC;
    background-color:#448CEC;
    margin-top: 25px;
}
.navbar-brand img{
    width:25%;
    margin-top: -10px;
}

.slider1{
    background: #434F6B 0% 0% no-repeat padding-box;
    opacity: 1;
    height:470px;
}
.carousel{
    height: 300px;
    width: 100%; 
}
.carousel-control.right{
    background-image: none;
    display: none;
}
.carousel-control.left{
    background-image: none;
    display: none;
}
.carousel-caption{
    position:inherit;
    right:0px;
    left:0px;
    top:40px;
    bottom:0px;
    padding-top: 30px;
    height:auto;
    width: 100%;
}
.carousel-caption img{
    width:70px;
}
.carousel-caption h2{
    font: normal normal medium 300 24px/60px Montserrat;
    letter-spacing: 2.5px;
    color: #4BD2EC;
    opacity: 1;
    text-decoration: none;
    background-image: none;
    margin-bottom: 30px;
}
.carousel-caption p{
    font: normal normal normal 12px/20px Century Gothic;
    letter-spacing: 0.9px;
    color: #FFFFFF;
    opacity: 1;
}
.carousel-inner {
    position: relative;
    width: 70%;
    overflow:hidden;
    height:300px;  
    transition: ease-in-out;      
}
.carousel-indicators li {
    display: inline-block;
    width: 90px;
    height: 3px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    border: none;
}
.carousel-indicators .active {
    width: 90px;
    height: 5px;
    margin: 0;
    background-color:#4BD2EC;
    border: none;
}
.slider1 h1{
    text-align: center;
    font-size: 24px;
    letter-spacing: 5.2px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 70px;
}
.footer{
    padding-top: 70px;
    padding-bottom: 70px;
}
.contacts-header h3{
    letter-spacing: 1px;
    color: #448CEC;
    text-transform: uppercase;
    opacity: 1;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.contacts-details p{
    letter-spacing: 1px;
    letter-spacing: 0.7px;
    color: #434F6B80;
    opacity: 1;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.contacts-extra h5{
    letter-spacing: 1px;
    color: #448CEC;
    text-transform: uppercase;
    opacity: 1;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 20px;
}
.footer h1{
    color: #448CEC;
    text-transform: uppercase;
    opacity: 1;
    font-size: 25px;
    font-weight: bold;
}
.footer-bottom{
    background: transparent linear-gradient(180deg, #4BD2EC 0%, #448CEC 100%) 0% 0% no-repeat padding-box;
    padding-bottom: 20px;
    padding-top: 20px;
}
.footer-bottom p{
    color:#fff;
    text-align: center;
}
@media(max-width:768px){
    
    .carousel-caption img{
         width:50px;
    }
    .carousel {
        height: 310px;
        width: 100%;
    }
    .slider1 {
        background: #434F6B 0% 0% no-repeat padding-box;
        opacity: 1;
        height: 500px;
        margin-top:-300px;
    }
    .carousel-caption p {
        font: normal normal normal 12px/20px Century Gothic;
        letter-spacing: 0.9px;
        color: #FFFFFF;
        opacity: 1;
    }
    .carousel-caption h2{
        font-size: 18px;
    }
    .slider1 h1 {
        text-align: center;
        font-size: 18px;
        letter-spacing: 5.2px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        margin-top: 70px;
        line-height: 30px;
    }
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 600px;
        transition: ease-in-out;
    }
    .carousel-indicators li {
    display: inline-block;
    width: 40px;
    height: 3px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    border: none;
}
.carousel-indicators .active {
    width: 30px;
    height: 5px;
    margin: 0;
    background-color:#4BD2EC;
    border: none;
}
}
.home-about-content{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.home-card{
    padding:10px;
    width:33%;
    text-align: center;
}
.home-icons{
    width:20%;
   
}
.home-icons img{
    width:100%;
}
.card-content{
    height:130px;
}
.card-content p{
    height:130px;
    padding:10px;
    font: normal normal normal 14px/25px Century Gothic;
    letter-spacing: 0.9px;
    color: #434F6B80;
    opacity: 1;
}
.home-about{
    padding-bottom:250px;
    padding-top:100px;
    margin-top: 1200px;
}
@media(max-width:768px){
    .home-about-content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-card{
    padding:10px;
    width:100%;
    text-align: center;
    height:350px;
    margin-bottom: 80px;
}
.home-about {
    height: auto;
}
}
.line-11 {
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #448CEC;
    height:80px;
    top: 620px;
    left:50%;
}
.line-11::after {
    position: absolute;
    display: block;
    content: '';
    height: 2rem;
    width: 2rem;
    border-radius: 0px;
    background-color: #448CEC;
    border:2px solid #fff;
    box-shadow: none;
    left: 50%;
    transform: translateX(-50%) rotate(315deg);
    top: 75px;
}
@media(max-width:768px){
    .line-11{
        display:none;
    }
    .navbar-brand img {
        width: 25%;
        margin-top: -80px;
    }
    .img-responsive {
        margin-bottom: 70px;
    }
}