body{
    font-family: 'Poppins', sans-serif;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    height:80px;
}
.navbar-default .navbar-nav>li>a {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #448CEC;
    font-weight: 800;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 20px;

}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-nav {
    margin: 7.5px -15px;
    background: #FFF;
}
.navbar-default .navbar-brand {
    color: #448CEC;
    margin-top: 20px;
    font-weight: bolder;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #448CEC;
}
.navbar-default .navbar-toggle {
    border-color: #448CEC;
    background-color:#448CEC;
    margin-top: 25px;
}
.navbar-brand img{
    width:25%;
    margin-top:-10px;
}
.cta-service{
    background: #434F6B 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
}
.cta-service-content{
    display: flex;
    justify-content: right;
}
.cta-service-content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    letter-spacing: 10px;
    color: #448CEC;
    opacity: 1;
}
.otc{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 100px;
}
.oct-content{
    display: flex;
    justify-content:center;
    align-items: center;
}
.oct-details{
    width:40%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.oct-details h2{
    font: normal normal 200 50px/60px Montserrat;
    letter-spacing: 0px;
    color: #448CEC;
    opacity: 1;
    margin-bottom: 50px;
 
}
.oct-details p{
    font: normal normal normal 14px/31px Century Gothic;
    letter-spacing: 0.9px;
    color: #434F6B99;
    opacity: 1;
    width:90%;
}
.oct-icon{
    width:20%;
}
.oct-img{
    width:40%;
}
.oct-img img {
    vertical-align: middle;
    object-fit: contain;
    width: 100%;
}


.wallet{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 100px;
    background: transparent linear-gradient(180deg, #4BD2EC 0%, #448CEC 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.wallet-content{
    display: flex;
    justify-content:center;
    align-items: center;
}
.wallet-details{
    width:40%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.wallet-details h2{
    font: normal normal 200 50px/60px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 50px;
   
}
.wallet-details p{
    font: normal normal normal 14px/28px Century Gothic;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    opacity: 1;
    width:100%;
}
.wallet-icon{
    width:20%;
}
.wallet-img{
    width:40%;
    padding-left: 80px;
    padding-top: 160px;
}
.wallet-img img{
    vertical-align: middle;
    object-fit: contain;
    width: 100%;      
}


.gold{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 100px;
}
.gold-content{
    display: flex;
    justify-content:center;
    align-items: center;
}
.gold-details{
    width:40%;
    padding-top: 0px;
    padding-bottom: 0px;
}
.gold-details h2{
    font: normal normal 200 50px/60px Montserrat;
    letter-spacing: 0px;
    color: #448CEC;
    opacity: 1;
    margin-bottom: 50px;
    
}
.gold-details p{
    font: normal normal normal 14px/31px Century Gothic;
    letter-spacing: 0.9px;
    color: #434F6B99;
    opacity: 1;
    width:90%;
}
.gold-icon{
    width:20%;
}
.gold-img{
    width:40%;
    padding-top:60px;
    padding-left:60px;
    padding-right: 60px;
}
.gold-img img{
    vertical-align: middle;
    object-fit: contain;
    width: 100%;
}


.pos{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 100px;
    background: transparent linear-gradient(180deg, #4BD2EC 0%, #448CEC 100%) 0% 0% no-repeat padding-box;
    opacity: 1;     
}
.pos-content{
    display: flex;
    justify-content:center;
    align-items: center;
}
.pos-details{
    width:40%;
    padding-top: 70px;
    padding-bottom: 70px;
}
.pos-details h2{
    font: normal normal 200 50px/60px Montserrat;
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
    margin-bottom: 40px;
}
.pos-details p{
    font: normal normal normal 14px/31px Century Gothic;
    letter-spacing: 0.9px;
    color: #fff;
    opacity: 1;
    width:90%;
}
.pos-icon{
    width:20%;
}
.pos-img{
    width:40%;
    padding:60px;
}
.pos-img img{
    vertical-align: middle;
    object-fit: contain;
    width: 100%;
}


.gold{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 100px;
}
.ai-content{
    display: flex;
    justify-content:center;
    align-items: center;
}
.ai-details{
    width:40%;
    padding-top: 70px;
    padding-bottom: 70px;
}
.ai-details h2{
    font: normal normal 200 50px/60px Montserrat;
    letter-spacing: 0px;
    color: #448CEC;
    opacity: 1;
    margin-bottom: 40px;
}
.ai-details p{
    font: normal normal normal 14px/31px Century Gothic;
    letter-spacing: 0.9px;
    color: #434F6B99;
    opacity: 1;
    width:90%;
}
.ai-icon{
    width:20%;
}
.ai-img{
    width:40%;
    padding-top:80px;
}
.ai-img img{
    vertical-align: middle;
    object-fit: contain;
    width: 100%;
}
.slider1{
    background: #434F6B 0% 0% no-repeat padding-box;
    opacity: 1;
    height:600px;
}
.carousel{
    height: 450px;
    width: 100%; 
}
.carousel-control.right{
    background-image: none;
    display: none;
}
.carousel-control.left{
    background-image: none;
    display: none;
}
.carousel-caption{
    position:inherit;
    right:0px;
    left:0px;
    top:40px;
    bottom:0px;
    padding-top: 30px;
    height:auto;
    width: 100%;
}
.carousel-caption img{
    width:70px;
}
.carousel-caption h2{
    font: normal normal 300 22px/60px Montserrat;
    letter-spacing: 2.5px;
    color: #4BD2EC;
    opacity: 1;
    text-decoration: none;
    background-image: none;
}
.carousel-caption p{
    font: normal normal normal 15px/20px Century Gothic;
    letter-spacing: 0.9px;
    color: #FFFFFF;
    opacity: 1;
}
.carousel-inner {
    position: relative;
    width: 70%;
    overflow:hidden;
    height:600px;  
    transition: ease-in-out;      
}
.carousel-indicators li {
    display: inline-block;
    width: 90px;
    height: 3px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    border: none;
}
.carousel-indicators .active {
    width: 90px;
    height: 5px;
    margin: 0;
    background-color:#4BD2EC;
    border: none;
}
.slider1 h1{
    text-align: center;
    font-size: 24px;
    letter-spacing: 5.2px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 70px;
}
.footer{
    padding-top: 70px;
    padding-bottom: 70px;
}
.contacts-header h3{
    letter-spacing: 1px;
    color: #448CEC;
    text-transform: uppercase;
    opacity: 1;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.contacts-details p{
    letter-spacing: 1px;
    letter-spacing: 0.7px;
    color: #434F6B80;
    opacity: 1;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.contacts-extra h5{
    letter-spacing: 1px;
    color: #448CEC;
    text-transform: uppercase;
    opacity: 1;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 20px;
}
.footer h1{
    color: #448CEC;
    text-transform: uppercase;
    opacity: 1;
    font-size: 25px;
    font-weight: bold;
}
.footer-bottom{
    background: transparent linear-gradient(180deg, #4BD2EC 0%, #448CEC 100%) 0% 0% no-repeat padding-box;
    padding-bottom: 20px;
    padding-top: 20px;
}
.footer-bottom p{
    color:#fff;
    text-align: center;
}
@media(max-width:768px){
    .oct-details p {
        font: normal normal normal 13px/31px Century Gothic;
        letter-spacing: 0.9px;
        color: #434F6B99;
        opacity: 1;
        width:100%;
    }
    .oct-img {
        width: 0px;
    }
    .navbar-brand img {
        width: 25%;
        margin-top: -80px;
    }
    .oct-details {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }
    .oct-icon {
        width: 0%;
        /* display: none; */
    }
    .oct-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        padding-right: 0px;
    }
    .oct-details h2 {
        font: normal normal 200 40px/60px Montserrat;
        letter-spacing: 0px;
        color: #448CEC;
        opacity: 1;
        margin-bottom: 30px;
    }
    .otc {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .wallet {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        background: transparent linear-gradient( 180deg, #4BD2EC 0%, #448CEC 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .wallet-details p {
        font: normal normal normal 13px/31px Century Gothic;
        letter-spacing: 0.9px;
        color: #fff;
        opacity: 1;
        width:100%;
    }
    .wallet-img {
        display: none;
    }
    .wallet-details {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }
    .wallet-icon {
        width: 0px;
        /* display: none; */
    }
    .wallet-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        padding-right: 0px;
    }
    .wallet-details h2 {
        font: normal normal 200 40px/60px Montserrat;
        letter-spacing: 0px;
        color: #fff;
        opacity: 1;
        margin-bottom: 30px;
    }

    .gold {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        opacity: 1;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .gold-details p {
        font: normal normal normal 13px/31px Century Gothic;
        letter-spacing: 0.9px;
        color: #434F6B99;
        opacity: 1;
        width:100%;
    }
    .gold-img {
        display:none;
       
    }
    .gold-details {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }
    .gold-icon {
        width: 0%;
        /* display: none; */
    }
    .gold-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        padding-right: 0px;
    }
    .gold-details h2 {
        font: normal normal 200 40px/60px Montserrat;
        letter-spacing: 0px;
        color: #448CEC;
        opacity: 1;
        margin-bottom: 30px;
    }
    .pos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        background: transparent linear-gradient(
    180deg
    , #4BD2EC 0%, #448CEC 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        padding-bottom: 30px;
    }
    .pos-details p {
        font: normal normal normal 13px/31px Century Gothic;
        letter-spacing: 0.9px;
        color: #fff;
        opacity: 1;
        width:100%;
    }
    .pos-img {
        display: none;
    }
    .pos-details {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }
    .pos-icon {
        width: 0%;
        /* display: none; */
    }
    .pos-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        padding-right: 0px;
    }
    .pos-details h2 {
        font: normal normal 200 40px/60px Montserrat;
        letter-spacing: 0px;
        color: #fff;
        opacity: 1;
        margin-bottom: 30px;
    }


    .ai {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        opacity: 1;
        padding-bottom: 30px;
    }
    .ai-details p {
        font: normal normal normal 13px/31px Century Gothic;
        letter-spacing: 0.9px;
        color: #434F6B99;
        opacity: 1;
        width:100%;
    }
    .ai-img {
        display:none;
    }
    .ai-details {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }
    .ai-icon {
        width: 0%;
        /* display: none; */
    }
    .ai-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        padding-right: 0px;
    }
    .ai-details h2 {
        font: normal normal 200 40px/60px Montserrat;
        letter-spacing: 0px;
        color: #448CEC;
        opacity: 1;
        margin-bottom: 30px;
    }
    .carousel-caption img{
         width:50px;
    }
    .carousel {
        height: 500px;
        width: 100%;
    }
    .slider1 {
        background: #434F6B 0% 0% no-repeat padding-box;
        opacity: 1;
        height: 650px;
    }
    .carousel-caption p {
        font: normal normal normal 12px/20px Century Gothic;
        letter-spacing: 0.9px;
        color: #FFFFFF;
        opacity: 1;
    }
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 600px;
        transition: ease-in-out;
    }
}
.line-1 {
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #4ac7ec;
    height: 738px;
    top: 432px;
    left: 170px;
}
.line-1 img{
    z-index:2;
    left:50%;
    transform: translateX(-50%);
    top:332px;
    position: absolute;
}
.line-1::after {
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius:0px;
    background-color:#448CEC;
    left: 50%;
    transform: translateX(-50%) rotate(315deg);
    top:0px;
}
.line-2 {
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #ffffff;
    height: 1090px;
    top: 1150px;
    left: 170px;
}
.line-2 img{
    z-index:2;
    left:50%;
    transform: translateX(-50%);
    top:405px;
    position: absolute;
}
.line-2::after {
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 0px;
    background-color: #ffffff;
    left: 50%;
    transform: translateX(-50%) rotate(315deg);
    top: 130px;
}
.line-3 {
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #448CEC;
    height: 690px;
    top: 2000px;
    left: 170px;
}
.line-3 img{
    z-index:2;
    left:50%;
    transform: translateX(-50%);
    top:370px;
    position: absolute;
}
.line-3::after {
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 0px;
    background-color: #448CEC;
    left: 50%;
    transform: translateX(-50%) rotate(315deg);
    top: 160px;
}

.line-4 {
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #fff;
    height: 700px;
    top: 2720px;
    left: 170px;
}
.line-4 img{
    z-index:2;
    left:50%;
    transform: translateX(-50%);
    top:300px;
    position: absolute;
}
.line-4::after {
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 0px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%) rotate(315deg);
    top: 110px;
}

.line-5 {
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #448CEC;
    height: 870px;
    top: 3296px;
    left: 170px;
}
.line-5 img{
    z-index:2;
    left:50%;
    transform: translateX(-50%);
    top:450px;
    position: absolute;
}
.line-5::after {
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius:0px;
    background-color: #448CEC;
    left: 50%;
    transform: translateX(-50%) rotate(315deg);
    top: 150px;
}
@media(max-width:768px){
    .img-responsive{
        margin-bottom: 70px;
    }
    .footer {
        padding-top: 70px;
        padding-bottom: 20px;
    }
    .line-1{
        display: none;
    }
    .line-2{
        display: none;
    }
    .line-3{
        display: none;
    }
    .line-4{
        display: none;
    }
    .line-5{
        display: none;
    }
    .carousel-indicators li {
    display: inline-block;
    width: 40px;
    height: 3px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    border: none;
}
.carousel-indicators .active {
    width: 30px;
    height: 5px;
    margin: 0;
    background-color:#4BD2EC;
    border: none;
}
}